In [1]:
import pandas as pd
import numpy as np

In [4]:
day1 = pd.read_csv("round-4-island-data-bottle/prices_round_4_day_1.csv", header=0, delimiter=';')
day2 = pd.read_csv("round-4-island-data-bottle/prices_round_4_day_2.csv", header=0, delimiter=';')
day3 = pd.read_csv("round-4-island-data-bottle/prices_round_4_day_3.csv", header=0, delimiter=';')

In [13]:
# combine the three days data and calculate fair price by volume weighted average
data = pd.concat([day1, day2, day3])
data.fillna(0, inplace=True)
data['fair_mid_price'] = (data['bid_price_1']*data['bid_volume_1']+data['bid_price_2']*data['bid_volume_2']+data['bid_price_3']*data['bid_volume_3']+data['ask_price_1']*data['ask_volume_1'] + data['ask_price_2']*data['ask_volume_2']+data['ask_price_3']*data['ask_volume_3'])/(data['bid_volume_1']+data['bid_volume_2']+data['bid_volume_3']+data['ask_volume_1']+data['ask_volume_2']+data['ask_volume_3'])

In [19]:
coconut_price = data[data['product']=='COCONUT']

In [20]:
coconut_price

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,fair_mid_price
0,1,0,COCONUT,9999.0,200.0,0.0,0.0,0.0,0.0,10001,200,0.0,0.0,0.0,0.0,10000.0,0.0,10000.000000
2,1,100,COCONUT,9999.0,104.0,9998.0,44.0,0.0,0.0,10000,104,10001.0,44.0,0.0,0.0,9999.5,0.0,9999.500000
4,1,200,COCONUT,9998.0,133.0,9997.0,62.0,0.0,0.0,9999,133,10000.0,62.0,0.0,0.0,9998.5,0.0,9998.500000
7,1,300,COCONUT,9999.0,149.0,9998.0,51.0,0.0,0.0,10000,149,10001.0,51.0,0.0,0.0,9999.5,0.0,9999.500000
8,1,400,COCONUT,9998.0,108.0,9997.0,63.0,0.0,0.0,9999,103,10000.0,63.0,0.0,0.0,9998.5,0.0,9998.492582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19991,3,999500,COCONUT,9883.0,141.0,9882.0,66.0,0.0,0.0,9884,141,9885.0,66.0,0.0,0.0,9883.5,0.0,9883.500000
19993,3,999600,COCONUT,9884.0,119.0,9883.0,75.0,0.0,0.0,9885,119,9886.0,75.0,0.0,0.0,9884.5,0.0,9884.500000
19994,3,999700,COCONUT,9883.0,115.0,9882.0,53.0,0.0,0.0,9884,115,9885.0,53.0,0.0,0.0,9883.5,0.0,9883.500000
19997,3,999800,COCONUT,9883.0,127.0,9882.0,46.0,0.0,0.0,9885,164,0.0,0.0,0.0,0.0,9884.0,0.0,9883.836795
19999,3,999900,COCONUT,9882.0,137.0,9881.0,69.0,0.0,0.0,9883,131,9884.0,69.0,0.0,0.0,9882.5,0.0,9882.492611

In [22]:
import math
from scipy.stats import norm

def Black_Scholes(S=10000, K=10000, T=25, r=0, q=0, sigma=0.01):
    d1 = (math.log(S/K) + (r - q + sigma**2 / 2) * T) / (sigma * math.sqrt(T))
    d2 = d1 - sigma * math.sqrt(T)
    return S * math.exp(-q * T) * norm.cdf(d1) - K * math.exp(-r * T) * norm.cdf(d2)

In [ ]:
# define a function to fit the volatility of the call option under BSM