In [24]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.stattools import grangercausalitytests

In [20]:
df = pd.read_csv('data/prices_round_4_day_1.csv', delimiter=';')
df.head(5)

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,1,0,COCONUT,9999,200,NaN,NaN,NaN,NaN,10001,200,NaN,NaN,NaN,NaN,10000.0,0.0
1,1,0,COCONUT_COUPON,637,39,NaN,NaN,NaN,NaN,638,39,NaN,NaN,NaN,NaN,637.5,0.0
2,1,100,COCONUT,9999,104,9998.0,44.0,NaN,NaN,10000,104,10001.0,44.0,NaN,NaN,9999.5,0.0
3,1,100,COCONUT_COUPON,637,33,NaN,NaN,NaN,NaN,638,33,NaN,NaN,NaN,NaN,637.5,0.0
4,1,200,COCONUT,9998,133,9997.0,62.0,NaN,NaN,9999,133,10000.0,62.0,NaN,NaN,9998.5,0.0

In [21]:
coconut = df[df["product"]=="COCONUT"]
coconut_coupon = df[df["product"]=="COCONUT_COUPON"]

In [19]:
coconut["bid_price_1"]

0         9999
2         9999
4         9998
7         9999
8         9998
         ...
19991    10135
19993    10136
19994    10134
19997    10134
19999    10134
Name: bid_price_1, Length: 10000, dtype: int64

In [22]:
coconut_coupon["bid_price_1"]

1        637
3        637
5        637
6        638
9        637
        ...
19990    681
19992    682
19995    681
19996    681
19998    682
Name: bid_price_1, Length: 10000, dtype: int64

In [25]:
data = np.column_stack([coconut["bid_price_1"], coconut_coupon["bid_price_1"]])

In [26]:
results = grangercausalitytests(data, 4, verbose=True)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=2.0911  , p=0.1482  , df_denom=9996, df_num=1
ssr based chi2 test:   chi2=2.0917  , p=0.1481  , df=1
likelihood ratio test: chi2=2.0915  , p=0.1481  , df=1
parameter F test:         F=2.0911  , p=0.1482  , df_denom=9996, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=4.2868  , p=0.0138  , df_denom=9993, df_num=2
ssr based chi2 test:   chi2=8.5779  , p=0.0137  , df=2
likelihood ratio test: chi2=8.5742  , p=0.0137  , df=2
parameter F test:         F=4.2868  , p=0.0138  , df_denom=9993, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=3.6263  , p=0.0124  , df_denom=9990, df_num=3
ssr based chi2 test:   chi2=10.8865 , p=0.0124  , df=3
likelihood ratio test: chi2=10.8806 , p=0.0124  , df=3
parameter F test:         F=3.6263  , p=0.0124  , df_denom=9990, df_num=3

Granger Causality
number of lags (no zero) 4
ssr based F test:         F=2.7653  , p=0.0259  , df_denom=9987, df_num=4
ssr based chi2 test:   chi2=11.0712 , p=0.0258  , df=4
likelihood ratio test: chi2=11.0651 , p=0.0258  , df=4
parameter F test:         F=2.7653  , p=0.0259  , df_denom=9987, df_num=4

/Users/juliusgruber/anaconda3/envs/machinelearning/lib/python3.11/site-packages/statsmodels/tsa/stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(